node_modules
backend/node_modules
mobile/node_modules
backend/.env
backend/uploads
backend/dumps/*.sql
backend/prisma/dev.db
backend/prisma/dev.db-journal
mobile/.expo
mobile/dist
client/dist
client/.expo
*.log
.vercel
.env*
